<%-include('../estatico/nav')%>
<section class="container mt-3 mb-3" style="background-color: #ACB6F9; max-width: 1000px; border-radius: 0.3cm;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 p-4">
            <h1>Formulario Citas</h1>
            <form action="{% url 'guardar_cita_cliente' %}" method="post">
                
                    <h1>Editar</h1>
                
                
                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" class="form-control" name="fecha" value="{{data.fecha|date:'Y-m-d'}}" min="{% now 'Y-m-d' %}" required>
                </div>
                <div class="mb-3">
                    <label for="lugar" class="form-label">Lugar</label>
                    <input type="text" class="form-control" name="lugar" value="{{data.lugar}}" required>
                </div>
                <div class="mb-3">
                    <label for="hora" class="form-label">Hora</label>
                    <input type="time" class="form-control" name="hora" value="{{data.hora|time:'H:i:s'}}" min="08:00" max="22:00" step="1800" required>
                    <!-- step="1800" significa intervalos de 30 minutos -->
                </div>
                <div class="mb-3">
                    <label for="servicio" class="form-label">Servicio</label>
                    <select name="servicio" class="form-select"  required>
                        
                            <option value="{{servicio.idServicio}}" {% if data.servicio.idServicio == servicio.idServicio %}selected{% endif %}>{{servicio.nombre}}</option>
                   
                      </select>
                </div>
                <div class="mb-3">
                    <label for="empleado" class="form-label">Empleado</label>
                    <select name="empleado" class="form-select" required>
                       
                            <option value="{{empleado.idEmpleado}}" {% if data.empleado.idEmpleado == empleado.idEmpleado %}selected{% endif %}>{{empleado.nombre}}</option>
                        
                  </select>
                </div>
              <div class="d-flex justify-content-center">
           
                <button type="submit" class="btn btn-dark rounded-pill">Actualizar</button>
               
                <button type="submit" class="btn btn-dark rounded-pill">Crear</button>
                
              </div>

            </form>
        </div>
    </div>
</section>


